<div class="flex-container flex-center">
  <div class="todo-box">
    <div *ngFor="let todoItem of todoList$ | async" class="todo-item">
      <div class="flex-container">
        <input
          type="checkbox"
          (change)="toggleFinished(todoItem.id)"
          [checked]="todoItem.finished"
          id="finished{{ todoItem.id }}"
        />
        <label
          class="{{ todoItem.finished ? 'finished-text' : '' }}"
          for="finished{{ todoItem.id }}"
        >
          {{ todoItem.todoAction }}
        </label>
      </div>

      <button class="btn btn-danger-sm" (click)="removeItem(todoItem.id)">
        Remover
      </button>
    </div>
  </div>
</div>
