.todo-box {
  max-height: 40vh;
  width: 50vw;
  overflow-y: auto;
}
.todo-item {
  width: 95%;
  border: 1px solid;
  border-radius: 5px;
  border: 1px solid #fff;
  color: #fff;
  background-color: rgb(138, 19, 138);
  margin: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.finished-text {
  text-decoration: line-through;
}

.btn-danger-sm {
  padding: 5px 7px;
}
