<style>
  input {
    border-radius: 0.25rem;
    border: 1px solid rgba(121, 121, 121, 0.775);
    padding: 5px;
    margin-right: 5px;
  }
  input:focus {
    border-color: rgb(138, 19, 138);
    box-shadow: 0 0 5px rgba(138, 19, 138, 0.412);
    outline: none !important;
  }
  .btn-primary {
    padding: 7px 10px;
    background-color: rgb(138, 19, 138);
    color: #fff;
  }
  .btn {
    cursor: pointer;
    border-radius: 4px;
    border: none;
  }
  .btn:hover {
    opacity: 0.9;
  }
  .btn-danger-sm {
    padding: 5px 7px;
    background-color: rgb(187, 15, 52);
    color: #fff;
  }
  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  .todo-flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .todo-box {
    max-height: 40vh;
    width: 50vw;
    overflow-y: auto;
  }
  .todo-item {
    width: 95%;
    border: 1px solid;
    border-radius: 5px;
    border: 1px solid #fff;
    color: #fff;
    background-color: rgb(138, 19, 138);
    margin: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
  }
  .todo-info {
    display: flex;
  }
  .finished-text {
    text-decoration: line-through;
  }
</style>
<div class="todo-flex-container">
  <h3>Lista de Afazeres:</h3>
</div>
<div class="todo-flex-container">
  <div class="todo-box">
    <div *ngFor="let todoItem of todoList" class="todo-item">
      <div class="todo-info">
        <input
          type="checkbox"
          (change)="toggleFinished(todoItem.id)"
          [checked]="todoItem.finished"
          id="finished{{ todoItem.id }}"
        />
        <label
          class="{{ todoItem.finished ? 'finished-text' : '' }}"
          for="finished{{ todoItem.id }}"
        >
          {{ todoItem.todoAction }}
        </label>
      </div>

      <button class="btn btn-danger-sm" (click)="removeItem(todoItem.id)">
        Remover
      </button>
    </div>
  </div>
</div>
<div class="form-container">
  <input type="text" [formControl]="name" />
  <button class="btn btn-primary" (click)="addToList()">
    Adicionar a lista
  </button>
</div>
