/* You can add global styles to this file, and also import other style files */
.btn-primary {
  background-color: rgb(138, 19, 138);
  color: #fff;
}

.base-input {
  border-radius: 0.25rem;
  border: 1px solid rgba(121, 121, 121, 0.775);
  padding: 5px;
  margin-right: 5px;
}
.base-input:focus {
  border-color: rgb(138, 19, 138);
  box-shadow: 0 0 5px rgba(138, 19, 138, 0.412);
  outline: none !important;
}

.btn {
  cursor: pointer;
  border-radius: 4px;
  border: none;
}

.btn:hover {
  opacity: 0.9;
}

.btn-danger-sm {
  background-color: rgb(187, 15, 52);
  color: #fff;
}

.flex-container {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}
